{% load i18n %}
{% load eventurl %}
{% load urlreplace %}

<div class="mt-calendar-nav">
  <div class="mt-calendar-nav-tabs" role="navigation" aria-label="{% trans "Event overview by month, week, etc." %}">
    <a href="?{% url_replace request "style" "list" "date" "" %}"
       class="mt-cal-tab{% if style == "list" %} active{% endif %}"
       {% if style == "list" %}aria-current="page"{% endif %}>
      {% trans "List" %}
    </a>
    <a href="?{% if "date" in request.GET %}{% url_replace request "style" "week" "old" "" "page" "" "date" date|date:"o-\WW" %}{% else %}{% url_replace request "style" "week" "old" "" "page" "" %}{% endif %}"
       class="mt-cal-tab{% if style == "week" %} active{% endif %}"
       {% if style == "week" %}aria-current="page"{% endif %}>
      {% trans "Week" %}
    </a>
    <a href="?{% if "date" in request.GET %}{% url_replace request "style" "calendar" "old" "" "page" "" "date" date|date:"Y-m" %}{% else %}{% url_replace request "style" "calendar" "old" "" "page" "" %}{% endif %}"
       class="mt-cal-tab{% if style == "calendar" %} active{% endif %}"
       {% if style == "calendar" %}aria-current="page"{% endif %}>
      {% trans "Month" %}
    </a>
    <a href="?{% if "date" in request.GET %}{% url_replace request "style" "day" "old" "" "page" "" "date" date|date:"Y-m-d" %}{% else %}{% url_replace request "style" "day" "old" "" "page" "" "date" %}{% endif %}"
       class="mt-cal-tab{% if style == "day" %} active{% endif %}"
       {% if style == "day" %}aria-current="page"{% endif %}>
      {% trans "Day" %}
    </a>
  </div>
  <a href="{% eventurl request.organizer "presale:organizer.ical" %}?{% url_replace request "locale" request.LANGUAGE_CODE "page" "" "old" "" "style" "" "date" "" %}"
     class="mt-cal-ical">
    <span class="fa fa-calendar-plus-o" aria-hidden="true"></span>
    {% trans "iCal" %}
  </a>
</div>
